body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* Ensures the main content takes up available space */
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
}
